<% layout("/layouts/boilerplate") -%>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a New Listing</h3>
    <form
      method="POST"
      action="/listings"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          id="title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter a valid title.</div>
      </div>

      <!-- Category -->
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select
          name="listing[category]"
          id="category"
          class="form-select"
          required
        >
          <option value="">Select category</option>
          <option value="rooms">Rooms</option>
          <option value="iconic">Iconic City</option>
          <option value="mountains">Mountains</option>
          <option value="castles">Castles</option>
          <option value="pools">Amazing Pools</option>
          <option value="camping">Camping</option>
          <option value="farms">Farms</option>
          <option value="arctic">Arctic</option>
          <option value="domes">Domes</option>
          <option value="boats">Boats</option>
        </select>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder=""
          id="description"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Nice description!</div>
        <div class="invalid-feedback">Description is required!</div>
      </div>

      <!-- Upload New Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          name="listing[image]"
          type="file"
          id="image"
          class="form-control"
          required
        />
        <div class="invalid-feedback">
          Only JPG, JPEG, or PNG images are allowed.
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="number"
            id="price"
            class="form-control"
            required
          />
          <div class="valid-feedback">Price looks valid!</div>
          <div class="invalid-feedback">Enter a valid number for price!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            id="country"
            class="form-control"
            required
          />
          <div class="valid-feedback">Country Looks Good!</div>
          <div class="invalid-feedback">Country name is required!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Vasant kunj, New Delhi"
          type="text"
          id="location"
          class="form-control"
          required
        />
        <div class="valid-feedback">Location Looks Good!</div>
        <div class="invalid-feedback">Please provide a valid location!</div>
      </div>
      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
