/* Navbar search button */
.btn-search {
  background-color: #fe424d;
  color: #fff;
  border-radius: 25px;
  padding: 0 1rem;
}

.btn-search:hover {
  background-color: #fe424d;
  color: #fff;
}

/* Search icon spacing */
.btn-search i {
  display: inline;
  margin-right: 0.5rem;
}

/* Search input */
.search-inp {
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  width: 260px;
  max-width: 100%;
}
